/*
Website Name: publicradio.info
Description: Homepage for listening to noncommercial news, culture, and art.
Design: Liz Lovero (https://github.com/lizlove)
URI: http://www.publicradio.info
Tags: publicradio.info, public radio, podcast, news, responsive, website, internet radio
*/

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
font-family: "ZXX";
font-weight: 200;
src: url("../fonts/ZXX-False.otf") format("opentype");
}

@font-face {
font-family: "ZXX";
font-weight: 300;
src: url("../fonts/ZXX-Noise.otf") format("opentype");
}

@font-face {
font-family: "ZXX";
font-weight: 400;
src: url("../fonts/ZXX-Sans.otf") format("opentype");
}

@font-face {
font-family: "ZXX";
font-weight: 500;
src: url("../fonts/ZXX-Camo.otf") format("opentype");
}

@font-face {
font-family: "ZXX";
font-weight: 600;
src: url("../fonts/ZXX-Xed.otf") format("opentype");
}

@font-face {
font-family: "ZXX";
font-weight: 700;
src: url("../fonts/ZXX-Bold.otf") format("opentype");
}

html {
  color: #424242;
  background-color: #FFFAFA;
}

body {
  font-family: sans-serif;
}

.black {
  color: #121212;
}

.section {
  margin: 2rem auto;
  padding: 4rem 3rem 4rem;
  border: 1px solid #bababa;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
audio {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

audio::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.title {
  font-family: "ZXX";
  font-weight: 400;
  margin-top: 1em;
  text-align: center;
  font-size: 2.6rem;
}

@keyframes fontcraze {
  0% {
    font-weight: 500;
  }
  20% {
    font-weight: 600;
  }
  40% {
    font-weight: 700;
  }
  60% {
    font-weight: 200;
  }
  80% {
    font-weight: 300;
  }
  100% {
    font-weight: 400;
  }
}

#title-animate:hover {
   animation: fontcraze 5s infinite;
}

div.loading, div.banner {
    background-color: black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    padding: 1em;
    font-size: 6vmin;
    text-align: center;
    color: #00FF00;
    display: none;
}

/* All Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  margin: 2rem auto;
  padding: 4rem 3rem 4rem;
  border: 1px solid #bababa;
}
.break {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem 1rem;
}
.globe-sm {
  max-width: 39px;
}
.spin {
  opacity: 0.2;
  pointer-events: none;
}
.spin .last-update-time {
    position: absolute;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/* Newscast
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.news-ul {
  list-style-type: none; 
}
.news-ul > li:hover {
  background-color: #FFE2A0;
  cursor: pointer;
}
.news-ul > li:active {
  background-color: #FFCB54;
}
.last-update {
  font-size: 1.2rem;
}
.newsline {
  text-decoration: underline;
  -webkit-text-decoration-color:
  text-decoration-color: red;
}

/* Internet Radio
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.internet-ul {
  list-style-type: none; 
}
.internet-ul > li:hover {
  background-color: #FFE2A0;
  cursor: pointer;
}
.internet-ul > li:active {
  background-color: #FFCB54;
}
.internet-links > a {
  font-size: 1.2rem;
}
.station-title {
  margin-bottom: 0;
}
.newsline {
  text-decoration: underline;
  -webkit-text-decoration-color:
  text-decoration-color: blue;
}

/* Podcast
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.podcast-list{
  list-style-type: none; 
}
.podcast-list > li:hover {
  background-color: #FFE2A0;
  cursor: pointer;
}
.podcast-list > li:active {
  background-color: #FFCB54;
}
.placeholder-img {
  width: 11rem;
}
.podcastline {
  text-decoration: underline;
  -webkit-text-decoration-color:
  text-decoration-color: purple;
}

/* Request Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.requestline {
  text-decoration: underline;
  -webkit-text-decoration-color:
  text-decoration-color: orange;
}

/* About 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.aboutline {
  text-decoration: underline;
  -webkit-text-decoration-color:
  text-decoration-color: teal;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 3rem 4rem;
}

.extra-margin {
  margin-bottom: 4em;
}
.globe {
  margin-bottom: 3rem;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: CSS is built mobile-first with sizes and devices indicated along with breakpoint
*/

/* Larger than mobile */
@media (min-width: 400px) {
  .title {
    font-size: 3.6rem;
  }
}

/* Larger than phablet (also point when grid becomes active) - Bigger than 550 */
@media (min-width: 550px) {
  section {
    padding: 12rem 0 11rem;
  }
}

/* Larger than tablet - Bigger than 750 */
@media (min-width: 750px) {
  section {
    padding: 14rem 0 15rem;
  }
}

/* Larger than desktop - Bigger than 1000 */
@media (min-width: 1000px) {
  section {
    padding: 20rem 0 19rem;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  
}
