body {
  background: linear-gradient(45deg, #00FFFF, #4747D1);
}

html {
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 1.2em;
}

header h1 {
  font-size: 13vmin;
  text-align: center;
}

header div {
  margin: 0 0 0 0;
  width: 100%;
  background-color: transparent;
  padding: 0;
  height: 1em;
  top: 0;
}

audio {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

a, a:visited, a:link {
    color: blue;
}

audio::-webkit-media-controls-enclosure {
    max-width: 100%;
}

.shadowfilter {
  -webkit-filter: drop-shadow(12px 12px 10px rgba(0,0,0,1));
}

ol li {
  margin-bottom: 1em;
}

.module {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2em;
  width: 80%;
  max-width: 60em;
  background-color: #fff;
}

.content {
  max-width: 40em;
}

.description {
  color: gray;
  margin-bottom: 0.5em;
}

.last-update {
  color: gray;
  margin-bottom: 0.5em;
  display: inline;
}

.spin > .listen {
  color: gray;
}
.spin * .last-update-time {
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.explicit {
  display: inline;
  font-family: sans-serif;
  color: #E04B72;
  font-size: 0.7em;
}

.main_program {
  clear: left;
  overflow: hidden;
  border: 1px solid black;
}

.main_image {
  width: 46%;
  float: left;
  margin: 0;
  padding: 0;
}

.main_right {
  width: 48%;
  float: left;
  padding: 10px 0 10px 25px;
}

div#selected {
  border: 1px solid black;
}

div#selected ol li:first-child {
  display: none;
}

div#news {
 border: 1px solid black;
}

div#about {
 border: 1px solid black;
}

footer img {
 border: 1px solid black;
}

footer {
  margin-bottom: 5%;
}

@media (max-width: 540px) {

   .main_image {
    width: 100%;
  }

  .main_right {
    width: 100%;
    padding: 15px 0 0 0;
  }
}
