
body {
  background-color: white;
  background-image: url("../assets/hH0upNX.jpg");
}

html {
  /*border-bottom: 20px solid blue;*/
  text-align: center;
}

h1 {
  text-align: left;
  font-size: 1.2em;
}

header img {
  width: 100%;
  max-width: 525px;
  margin-bottom: 5%;
  margin-top: 5%;
}


.shadowfilter {
    -webkit-filter: drop-shadow(12px 12px 10px rgba(0,0,0,1));
  }


div {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5%;
  padding: 2em;
  width: 80%;
  background-color: #fff;
}


.main_program {
  clear: left;
  overflow: hidden;
  border: 1px solid black;
}

.main_image {
  width: 46%;
  float: left;
  margin: 0;
  padding: 0;

}

.main_right {
  width: 48%;
  float: left;
  padding: 10px 0 10px 25px;


}

.main2{
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
  float:left;
  width:100%;
  position:relative;
  right:55%;
}


.main_image1 {
  float: left;
  margin: 0;
  padding: 0;
  width:46%;
  position:relative;
  left:52%;
  overflow:hidden;
}

.main2_media {
  width:100%;
}

.main_right1 {
  float:left;
  width:46%;
  padding: 0;
  position:relative;
  left:56%;
  overflow:hidden;
  margin: 0;
}

div#selected {
  border: 1px solid black;

}


div#news {
  border: 1px solid black;

}


div#about {
  border: 1px solid black;

}

footer img {
  border: 1px solid #000;
}

@media all and (min-width: 800px) and (max-width: 1024px) {  

}

@media (max-width: 768px) {

   .main_image { 
    width: 100%; 
  }

  .main_right { 
    width: 100%; 
    padding: 15px 0 0 0;
  }
}
