{% assign collection = site.c201601 %}

<div id="main" class="flex module">

  {% assign main = collection[0] %}

  <div class="flex_child">
    <img src="{{ main.image }}" width="100%" >
  </div>

  <div class="flex_child">
    <h1>1. Main Program</h1>
    <h1>"{{ main.title }}" [{{ main.duration }}] from {{ main.series }} ({{ main.genre }})</h1>
    <p class="description">{{ main.description }}</p>
    <a class="listen" href="{{ main.audio }}">Listen</a> | 
    <a href="{{ main.website }}" target="_blank">Visit website</a> | 
    <a href="{{ main.feed }}" target="_blank">RSS</a>
  </div>
  
</div>

<div id="news" class="module">
  <div class="content">
    <h1>2. Newscasts</h1>
    <ol type="a">
      {% for news in site.data.news %}
        <li class="{{ news.type }} spin">
          {{ news.title }}, {{ news.frequency }}
          </br>
          <a class="listen" href="{{ news.audio }}">Listen</a> |
          <div class="last-update">
            Last update: <span class="last-update-time">?</span>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
</div>

<div id="selected" class="module">
  <div class="content">
     <h1>3. Podcasts</h1>
     <ol type="a">
        {% for pick in collection %}
          <li> "{{ pick.title }}" [{{ pick.duration }}] from {{ pick.series }} ({{ pick.genre }}) {% if pick.explicit == true %} 
            <div class="explicit">&#x1f174;</div> {% endif %}
            <div class="description"> {{ pick.description }} </div>
            <div class="links">
              <a class="listen" href="{{ pick.audio }}">Listen</a> {% if pick.website %} | 
              <a href="{{ pick.website }}" target="_blank">Visit website</a> {% endif %} {% if pick.feed %} | 
              <a href="{{ pick.feed }}" target="_blank">RSS</a> {% endif %}
            </div> 
          </li>
        {% endfor %}  
      </ol>
  </div>
</div>

<div id="internet-radio" class="module">

  <h1>4. Internet Radio</h1>

  {% for stream in site.data.streams %}
  <div class="flex">
      <div class="flex_child">
        <div class="description">{{ stream.description }}</div>
        <a class="listen radio" href="{{ stream.streamurl }}">Listen</a> | 
        <a href="{{ stream.url }}" target="_blank">Visit website</a> {% if stream.donateurl %} | 
        <a href="{{ stream.donateurl }}" target="_blank">Donate</a> {% endif %}
      </div>

      <div class="flex_child">
        <img src="assets/{{ stream.icon }}" class="live-stream-icon"></img>
      </div>
  </div> 
  {% endfor %}
  
</div>

<div id="request" class="module">
  <div class="content">
    <h1>5. Make a Request</h1>
  
    <div class="field">
      <label for="info" class="description">Got a podcast you want to hear on this website? Let us know here.</label>
      <input id="info" placeholder="This is a great pod! (200 character max)"></input>
    </div>

    <div class="field">
      <input id="url" placeholder="Podcast url, rss, or mp3 link (optional)"></input>
    </div>

    <div class="field">
      <input id="requestor" placeholder="Name (optional)"></input>
    </div>

    <div class="emoticon">( &#x361;&#xB0; &#x35C;&#x296; &#x361;&#xB0;)</div>
    <button type="submit" class="submit">Submit</button>

  </div>  
  
</div>

<div id="about" class="module">
  <div class="content">
    <h1>6. About</h1>
    {% assign meta = site.data.meta %}
    <p>Publicradio.info is a homepage for listening to noncommercial news, culture, and arts. Podcast collections updated monthly 
      [<a href="http://itunes.apple.com/us/podcast/playlist/id1055233656?mt=2" target="_blank">iTunes</a>] | 
      [<a href="http://www.publicradio.info/feed.xml" target="_blank">RSS</a>]. This is collection no. 1, published January 11, 2015.</p>

    <p>
      Listeners here: <span class="visitor-count">?</span>
    </p>

    <p>
      Design and graphics
      <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"> licensed under CC</a>; 
      software issued under <a href="http://github.com/radioopensource/dotinfo/blob/gh-pages/license.md" target="_blank">The MIT License</a>.
      Our website is volunteer-run. Content edited by Conor Gillies, Annie McEwen, and Ellie McDowall. 
      Development by Alex Silva, Eve Asher, Chris Kalafarski, and Kathy Tu on
      <a href="https://github.com/radioopensource/dotinfo" target="_blank">Github</a>.
      Say hello: <a href="mailto:contact@publicradio.info">contact@publicradio.info</a>.
    </p>
    
    <p>
      Support local and public media! <a href="http://www.npr.org/stations/" target="_blank">Find your nearest NPR (U.S.) station</a>.
    </p>

  </div>
</div>
