{% assign collection = site.c201510 %}

<div class="main_program">

  {% assign main = collection[0] %}

  <div class="main_image">
      <img src="{{ main.image }}" width="100%" >
  </div>

  <div class="main_right">
    <h1>1. Main Program:</h1>

    <p><h1>"{{ main.title }}" from {{ main.series }} ({{ main.genre }})</h1></p>

    <p><a class="listen" href="{{ main.link }}">Listen</a> | <a href="{{ main.website }}">Visit website</a></p>
  </div>

</div>

<div id="selected">
   <h1>2. <strong>Selected Audio</strong></h1>
   <ol type="a">
      {% for pick in collection %}
        <li> "{{ pick.title }}" from {{ pick.series }} ({{ pick.genre }}) {% if pick.explicit == "true" %} (explicit) {% endif %}
        <br />
        <a class="listen" href="{{ pick.link }}">Listen</a> {% if pick.website %} | <a href="{{ pick.website }}">Visit website</a> {% endif %} {% if pick.feed %} {% endif %} <p>
        </li>
      {% endfor %}
    </ol>
</div>

<div id="news">
  <h1>3. Latest News</h1>
  <ol type="a">
    {% for feed in site.data.feeds %}
      <li>
        {{ feed.source }}, {{ feed.frequency }} |
        <a id="default-audio" class="listen" href="{{ feed.link }}">Listen</a>
      </li>
    {% endfor %}
  </ol>
</div>

<!-- div id="archives">
  <h1>4. From the Archives</h1>
  {% for piece in site.data.archives %}
  <p>"{{ piece.title }}" from {{ piece.series }} ({{ piece.year }}) ({{ piece.genre }})
  <br />
  <a href="{{ piece.link }}">Download</a> | <a href="{{ piece.website }}">Visit website</a>
  </p>
  {% endfor %}
</div -->

<div id="about">
  <h1>4. About</h1>
  {% assign meta = site.data.meta %}
  <p>This site is currently under construction.</p>

  <p>Publicradio.info is a homepage for noncommercial news, culture, and arts.</p>
  
  <p>This website is volunteer-run. Content edited by Conor Gillies, Annie McEwen, and Audrey Mardavich. Development by Eve Asher, Chris Kalafarski, Kathy Tu, and Alex Silva on
    <a href="https://github.com/radioopensource/dotinfo">Github</a>. Say hello: <a href="mailto:contact@publicradio.info">contact@publicradio.info</a>.
  </p>
    
  <p>
    Design and graphics <a href="http://creativecommons.org/licenses/by-sa/4.0/">licensed under CC</a>; software issued under <a href="LINK TO GITHUB FILE">The MIT License</a>.
  </p>
  
  <p>
    Support local and public media! <a href="http://www.npr.org/stations/">Find your nearest NPR (U.S.) station</a>.
  </p>

  <p>Updated monthly |  Last update: {{ meta.last_update }}</p>
  <p>Each issue available via podcast: [iTunes] | [RSS]</p>
</div>
