<html ng-app="dotInfo">
  <head>
    <title>publicradio.info</title>
    <style type="text/css">
      html {
        border: 2px solid blue;
        /*border-bottom: 20px solid blue;*/
        text-align: center;
      }

      div {
        text-align: left;
        margin: 0 auto;
        max-width: 500px;
      }

      div#main {
        text-align: center;
      }

      h1 {
        text-align: left;
        font-size: 1.5em;
      }

      header img {
        width: 100%;
        max-width: 525px;
      }
    </style>
  </head>
</head>
