<html ng-app="dotInfo">
  <head>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://publicradio.info/rss/rss2.xml" /> 
    <title>publicradio.info</title>
    <style type="text/css">
      html {
        border-bottom: 20px solid blue;
        text-align: center;
      }

      div {
        text-align: left;
        margin: 0 auto;
        max-width: 400px;
      }

      div#main {
        text-align: center;
      }

      h1 {
        text-align: left;
      }

      header img {
        width: 100%;
        max-width: 525px;
      }
    </style>
 <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  </head>
</head>
