<html ng-app="dotInfo">
  <head>
    <title>publicradio.info</title>
    <style type="text/css">
      html {
        border-bottom: 20px solid blue;
        text-align: center;
      }

      div {
        text-align: left;
        margin: 0 auto;
        max-width: 400px;
      }

      div#main {
        text-align: center;
      }

      h1 {
        text-align: left;
      }

      header img {
        width: 100%;
        max-width: 525px;
      }
    </style>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  </head>
</head>
